@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #ececec;
  display: flex;
  align-items: center;
}
nav .nav-left ul {
  display: flex;
  align-items: center;
}
nav .nav-left ul li {
  list-style-type: none;
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

nav > .nav-left > ul > li > img {
  height: 35px;
  width: 40px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  color: tomato !important;
}

.form-project {
  background-color: rgb(201, 201, 201);
  width: 100%;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  margin: auto;
}
label {
  margin-top: 10px;
}
input,
select,
textarea,
button {
  margin-top: 10px;
  background-color: #f3f3f3;
  border: 1px solid #dbdbdb;
}
textarea {
  resize: none;
}
input,
select {
  height: 25px;
  border-radius: 5px;
}
.name input {
  height: 35px;
  width: 100%;
}
.date {
  display: flex;
}
.date label,
input {
  display: flex;
  flex-direction: column;
}

.date .date-start {
  width: 50%;
}

.date input {
  width: 95%;
  height: 35px;
}
.date .date-end {
  width: 50%;
}

.form-project .input-file input {
  width: 100%;
  height: 30px;
}

.form-project .button-group {
  width: 100%;
  text-align: right;
}
.form-project .button-group button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin-top: 20px;
}
.form-project .button-group button:hover {
  color: white;
  background-color: rgb(13, 122, 185);
}

.my-project {
  width: 100%;
}
.my-project .card-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  justify-items: center;
}
.my-project .card-project .row {
  border-radius: 8px;
  box-shadow: 0 10px 10px #dbdbdb;
  padding: 10px;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.my-project .card-project .row img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  margin: 0;
}
.my-project .card-project .row h3 {
  font-size: 14px;
  margin: 10px;

  overflow: hidden;
  --max-line: 1;
}
.my-project .card-project .row h3 a {
  text-decoration: none;
  --max-line: 1;
  overflow: hidden;
  color: black;
  width: 100%;
}

.my-project .card-project .row p {
  width: 280px;
  margin: 10px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
}
.my-project .card-project .row .description {
  width: 280px;
  height: 65px;
  --max-line: 3;
}

.my-project .card-project .row .icon {
  display: flex;
  margin: 10px;
}
.my-project .card-project .row .icon i {
  font-size: 20px;
  margin-right: 20px;
}
.my-project .card-project .row .button-group {
  display: flex;
  width: 100%;
}
.my-project .card-project .row .button-group button {
  width: 50%;
  margin: 5px;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 3px;
  height: 30px;
  cursor: pointer;
}

.my-project .card-project .row .button-group button:hover {
  background-color: rgb(13, 122, 185);
  color: white;
}
