@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "contact.css";
@import "blog.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(201, 201, 201);
}
nav {
  background-color: #ececec;
  display: flex;
  align-items: center;
}
nav .nav-left ul {
  display: flex;
  align-items: center;
}
nav .nav-left ul li {
  list-style-type: none;
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

nav > .nav-left > ul > li > img {
  height: 35px;
  width: 40px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  color: tomato !important;
}
.header {
  margin: 90px 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 13px 21px 5px rgba(135, 130, 130, 0.75);
  -webkit-box-shadow: 2px 13px 21px 5px rgba(135, 130, 130, 0.75);
  -moz-box-shadow: 2px 13px 21px 5px rgba(135, 130, 130, 0.75);
}

.header .left {
  flex: 65%;
  padding: 20px;
}
.header .left h2 {
  font-size: 40px;
  padding: 10px;
}
.header .left p {
  font-size: 20px;
  padding: 10px;
}
.header .right {
  flex: 30%;
  padding: 20px;
}
.header .left .contact {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header .left .contact button {
  background-color: black;
  color: white;
}
.header .left .contact p {
  margin-left: 20px;
}
.header .left .contact button {
  border-radius: 20px;
  background-color: black;
  width: 100px;
  margin: 10px 0;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.header .left .contact button:hover {
  color: black;
  background-color: white;
}
.sosmed {
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}
.sosmed a {
  margin-right: 20px;
}
.card {
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  width: 300px;
  height: 100%;
  text-align: center;
  box-shadow: 0 10px 10px #757474;
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
